/* Define custom properties */
:root {
  --color-primary: #ff7b54;
  --color-text-on-primary: #ffffff;
  --color-secondary: #ffffff;
  --color-text-on-secondary: #706e6e;
  --second-color-text-on-secondary: #000000;
  --color-border: #ffffff;

  --font-family: "Inter", sans-serif;
  --color-button-border: var(--color-border);
  --color-button-primary-bg: var(--color-text-on-primary);
  --color-button-primary-text: var(--color-text-on-secondary);
  --color-button-secondary-bg: var(--color-primary);
  --color-button-secondary-text: var(--color-text-on-primary);
  --color-botton-correct-bg: #0c5a0e;
  --color-botton-incorrect-bg: #ffb6c1;
}

/* General styles */
body {
  margin: 0;
  padding: 0;
  font-family: var(--font-family);
}

header {
  width: 100%;
  text-align: center;
  padding: 1rem;
}

main {
  width: 100%;
  max-width: 1200px; /* Adjust max-width as needed */
  margin: 0 auto;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1,
p {
  color: var(--color-primary);
  text-align: center;
  font-weight: bold;
}

img {
  width: 100%;
  height: auto;
  object-fit: cover;
  max-width: 100%;
  max-height: 100%;
}

#image-frame {
  width: 100%;
  max-width: 550px; /* Adjust max-width as needed */
  
  height: 480px; /* Adjust max-height as needed */
  overflow: hidden;
  border-radius: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

#options {
  width: 100%;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  color: var(--color-text-on-secondary);
  font-weight: bold;
  font-size: 25px;
}
a {
  color: var(--color-text-on-secondary);
  text-decoration: none;
  font-weight: lighter;
}
a:hover {
  color: var(--color-primary);
}

button {
  border-radius: 5px;
  font-size: 20px;
  padding: 0 1rem;
  height: 3rem;
  border: 2px solid var(--color-primary);
  box-sizing: border-box;
  cursor: pointer;
  transition: outline 0.2s linear;
  border-radius: 1rem;
  font-weight: bold;
  color: var(--color-button-primary-text);
}

.correct {
  background-color: var(--color-botton-correct-bg);
  color: var(--color-secondary);
}

.incorrect {
  background-color: var(--color-botton-incorrect-bg);
}

.hidden {
  display: none;
}

/* Animation for dog emoji */
@keyframes bark {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(10deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@keyframes wag {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(10deg);
  }
  50% {
    transform: rotate(0deg);
  }
  75% {
    transform: rotate(-10deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

h1 .dog-emoji {
  font-size: 40px;
  display: inline-block;
  animation: bark 0.5s infinite alternate, wag 1s infinite alternate;
}

/* Media queries for responsiveness */
@media (max-width: 768px) {
  main {
    padding: 0.5rem;
  }
  
  #image-frame {
    max-width: 400px;
    max-height: 500px;
  }
  
  button.correct,
  button.incorrect {
    font-size: 18px;
    padding: 0 0.5rem;
    height: 2.5rem;
  }
}

@media (max-width: 480px) {
  main {
    padding: 0.25rem;
  }
  
  #image-frame {
    max-width: 300px;
    max-height: 400px;
  }
  
  button.correct,
  button.incorrect {
    font-size: 16px;
    padding: 0 0.25rem;
    height: 2rem;
  }
}
